{% extends 'base.html' %}

{% block title %}
{{ _('Event Start Form')}}
{% endblock %}

{% block content %}
{% set activeTask = namespace(activeTask=false) %}
{% set activeTask = namespace(activeStatus=false) %}

<div class="text-center">
    <div class="container">
        {% for openProduct in openProductList %}
        <h1 class="h2 mb-3 font-weight-normal">
            {{ _('create a new evet for')}} {{openProduct.modelName}} - {{ openProduct.modelCode}}
        </h1>
        <div class="row">
            {% for status in statusList %}
            {% for openEvent in openEventList %}
            {% if openEvent.idProd == openProduct.id and openEvent.idStatus == status.id%}
            {% set activeTask.activeTask = True %}
            {% endif %}
            {% endfor %}
            {% endfor %}

            {% for status in statusList %}
            {% for openEvent in openEventList %}
            {% if openEvent.idProd == openProduct.id and openEvent.idStatus == status.id%}
            {% set activeTask.activeTask = True %}
            {% set activeTask.activeStatus = True %}

            <!-- modal dla zamknięcia PRODUKCJI -->
            {% if status.production == "Prod"%}
            {% include 'includes/eventCloseModals.html'%}
            <div class="col text-center">
                <button class="btn btn-outline btn-danger buttonFull" data-toggle="modal" autofocus="autofocus"
                    data-target="#Modal-Close-{{openProduct.id}}-{{status.id}}-{{current_user.id}}"><span
                        class="spinner-border spinner-border-sm"></span> Close: {{ status.statusName }}, ID:
                    {{openEvent.id}}, {{openEvent.username}}</button>
            </div>
            {% endif %}

            <!-- formularz dla zamknięcia błędu -->
            {% if status.production == "Error" %}
            <div class="col text-center">
                <form method="post">
                    {{ eventCloseForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="{{ openEvent.id }}">
                    <input type="hidden" class="form-control" name="production" value="{{ status.production }}">
                    <input type="hidden" class="form-control" name="okCounter" value=0>
                    <input type="hidden" class="form-control" name="nokCounter" value=0>
                    {{ eventCloseForm.submit(class = "btn btn-outline btn-danger buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            <!-- formularz dla zamknięcia TPZ -->
            {% if status.production == "TPZ"%}
            <div class="col text-center">
                <form method="post">
                    {{ eventCloseForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="{{ openEvent.id }}">
                    <input type="hidden" class="form-control" name="production" value="{{ status.production }}">
                    <input type="hidden" class="form-control" name="okCounter" value=0>
                    <input type="hidden" class="form-control" name="nokCounter" value=0>
                    {{ eventCloseForm.submit(class = "btn btn-outline btn-danger buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            <!-- formularz dla zamkniecia, nie da sie wywołać -->
            {% if status.production == "Finish"%}
            <div class="col text-center">
                <form method="post">
                    {{ eventCloseForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="{{ openEvent.id }}">
                    <input type="hidden" class="form-control" name="production" value="{{ status.production }}">
                    <input type="hidden" class="form-control" name="okCounter" value=0>
                    <input type="hidden" class="form-control" name="nokCounter" value=0>
                    {{ eventCloseForm.submit(class = "btn btn-outline btn-danger buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            {% endif %}
            {% endfor %}

            <!-- formularz startu produkcji, modal wyłączony -->
            {% if status.production == "Prod" and not activeTask.activeTask %}
            {% include 'includes/eventStartModals.html'%}
            <!-- <div class="col text-center">
                <button class="btn btn-outline btn-success buttonFull" data-toggle="modal"
                    data-target="#Modal-Start-{{openProduct.id}}-{{status.id}}-{{current_user.id}}">{{
                    status.statusName }}</button>
            </div> -->
            <div class="col text-center">
                <form method="post">
                    {{ eventStartForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="None">
                    {{ eventStartForm.submit(class = "btn btn-outline btn-success buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            <!-- formularz startu błedu, modal wyłączony -->
            {% if status.production == "Error" and not activeTask.activeTask %}
            {% include 'includes/eventStartModals.html'%}
            <!-- <div class="col text-center">
                <button class="btn btn-outline btn-warning buttonFull" data-toggle="modal"
                    data-target="#Modal-Start-{{openProduct.id}}-{{status.id}}-{{current_user.id}}">{{
                    status.statusName }}</button>
            </div> -->
            <div class="col text-center">
                <form method="post">
                    {{ eventStartForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="None">
                    {{ eventStartForm.submit(class = "btn btn-outline btn-warning buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            <!-- formularz startu TPZ, modal wyłączony -->
            {% if status.production == "TPZ" and not activeTask.activeTask %}
            {% include 'includes/eventStartModals.html'%}
            <!-- <div class="col text-center">
                <button class="btn btn-outline btn-info buttonFull" data-toggle="modal"
                    data-target="#Modal-Start-{{openProduct.id}}-{{status.id}}-{{current_user.id}}">{{
                    status.statusName }}</button>
            </div> -->
            <div class="col text-center">
                <form method="post">
                    {{ eventStartForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="None">
                    {{ eventStartForm.submit(class = "btn btn-outline btn-info buttonFull", value = status.statusName
                    )}}
                </form>
            </div>
            {% endif %}

            <!-- modal startu zamknięcia zlecenia, event od razu jest zamykany  -->
            {% if status.production == "Finish" and not activeTask.activeTask %}
            {% include 'includes/eventStartModals.html'%}
            <div class="col text-center">
                <button class="btn btn-outline btn-outline-danger buttonFull" data-toggle="modal"
                    data-target="#Modal-Start-{{openProduct.id}}-{{status.id}}-{{current_user.id}}">{{
                    status.statusName }}</button>
            </div>
            <!-- <div class="col text-center">
                <form method="post">
                    {{ eventStartForm.hidden_tag() }}
                    <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                    <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                    <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                    <input type="hidden" class="form-control" name="idEvent" value="None">
                    {{ eventStartForm.submit(class = "btn btn-outline-danger buttonFull", value = status.statusName )}}
                </form>
            </div> -->
            {% endif %}

            {% if activeTask.activeTask and not activeTask.activeStatus %}
            <div class="col text-center">
                <button class="btn btn-outline btn-secondary buttonFull" data-toggle="modal" data-target="">{{
                    status.statusName }}</button>
            </div>
            {% endif %}
            {% set activeTask.activeStatus = False %}
            {% endfor %}
        </div>
        {% set activeTask.activeTask = False %}
        {% endfor %}
    </div>
</div>
{% endblock %}