{% extends 'base.html' %}

{% block title %}
{{ _('Home Page')}}
{% endblock %}

{% block content %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">TEST!!!!</h1>
    <p class="lead font-weight-normal">test test test </p>
    <a class="btn btn-primary" href="#">Get Started</a>
</div>
<h1>produkcja: {{ _('produkcja') }}</h1>
<h1>produkcja start: {{ prodStart }}</h1>
<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>

{% endblock %}