{% extends 'base.html' %}

{% block title %}
{{ _('Home Page')}}
{% endblock %}

{% block content %}
<div class="col-md-7 p-lg-5 mx-auto my-5">
    <h2>PLATFORMA DO</h2>
    <h2>AUTOMATYCZNEJ REJESTRACJI KODÓW PRZESTOJÓW</h2>
    <h1>LEAS - ZGRZEWARKA</h1>
    <br>
    <p>Aby rozpocząć zaloguj sie, następnie zeskanuj zlecenie produkcyjne.</p>
</div>
<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>

{% endblock %}