{% extends 'base.html' %}

{% block title %}
{{ _('Product Summary Table Page')}}
{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="h2 mb-3 font-weight-normal">{{ _('Product Summary Table Page')}}</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-dark" style="width: 100%">
                <tr>
                    <th>{{ _('idStatus')}}</th>
                    <th>{{ _('statusName')}}</th>
                    <th>{{ _('production')}}</th>
                    <th>{{ _('okCounter')}}</th>
                    <th>{{ _('nokCounter')}}</th>
                    <th>{{ _('delta [h]')}}</th>
                </tr>
                {% for finalResult in finalResultsTable %}
                
                <tr>
                    <td>{{finalResult.idStatus}}</td>
                    <td>{{finalResult.statusName}}</td>
                    <td>{{finalResult.production}}</td>
                    <td>{{finalResult.okCounter}}</td>
                    <td>{{finalResult.nokCounter}}</td>
                    <td>{{finalResult.delta}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <img src="/static/new_plot.png" alt="Chart" height="500" width="800">
</div>
{% endblock %}