{% extends 'base.html' %}

{% block title %}
{{ _('Product Page')}}
{% endblock %}

{% block content %}

<div class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h2 mb-3 font-weight-normal">
                Product Page
            </h1>
            {{ form.modelCode.label() }}
            {{ form.modelCode(class="form-control" , placeholder = 'modelCode:') }}

            {{ form.modelName.label() }}
            {{ form.modelName(class="form-control" , placeholder = 'modelName:') }}

            {{ form.orderStatus.label() }}
            {{ form.orderStatus(class="form-control" , placeholder = 'production') }}
            
            {{ form.startDate.label() }}
            {{ form.startDate(class="form-control") }}

            {{ form.executionDate.label() }}
            {{ form.executionDate(class="form-control") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</div>
{% endblock %}