{% extends 'base.html' %}

{% block title %}
Status Page
{% endblock %}

{% block content %}

<div class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Status Page
            </h1>
            {{ form.statusCode.label() }}
            {{ form.statusCode(class="form-control" , placeholder = 'statusCode:') }}

            {{ form.statusName.label() }}
            {{ form.statusName(class="form-control" , placeholder = 'statusName:' , autofocus="autofocus") }}

            {{ form.production.label() }}
            {{ form.production(class="form-control" , placeholder = 'production:') }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</div>
{% endblock %}