{% extends 'base.html' %}
{% block title %}
table
{% endblock %}

{% block content %}
<div class="container">
    <h2 align="center">Create</h2>
    <div class="form">

        <form method="post">
            <div class="form-group">
            <label for="belegNumber">belegNumber</label>
            <input type="text" class="form-control" name="belegNumber" placeholder="belegNumber"
                value="{{ request.form['belegNumber'] }}"></input>
            </div>
            <div class="form-group">
            <label for="modelName">modelName</label>
            <input type="text" class="form-control" name="modelName" placeholder="modelName" value="{{ request.form['modelName'] }}"></input>
            </div>
            <label for="lenght">lenght</label>
            <input type="number" class="form-control" name="lenght" placeholder="lenght" value="{{ request.form['lenght'] }}"></input>
            <br>
            <div class="form-group">
            <label for="numberOfParts">numberOfParts</label>
            <input type="number" class="form-control" name="numberOfParts" placeholder="numberOfParts"
                value="{{ request.form['numberOfParts'] }}"></input>
            </div>
            <div class="form-group">
            <label for="bracket">bracket</label>
            <select name="bracket" class="form-control" id="bracket">
                <option value="True" {% if request.form[singleOrDouble]=='True' %} selected="selected" {% endif %}>True
                </option>
                <option value="False" {% if request.form[singleOrDouble]=='False' %} selected="selected" {% endif %}>
                    False
                </option>
            </select>
            </div>
            <div class="form-group">

            <label for="singleOrDouble">singleOrDouble</label>
            <select name="singleOrDouble" class="form-control" id="singleOrDouble">
                <option value="1">Single</option>
                <option value="2">Double</option>
            </select>
            </div>
            <div class="form-group">
            <label for="orderStatus">orderStatus</label>
            <select name="orderStatus" class="form-control" id="orderStatus">
                <option value="0" {% if request.form[singleOrDouble]=='Swaiting' %} selected="selected" {% endif %}>
                    Waiting
                </option>
                <option value="1" {% if request.form[singleOrDouble]=='Started' %} selected="selected" {% endif %}>
                    Started
                </option>
                <option value="2" {% if request.form[singleOrDouble]=='Finished' %} selected="selected" {% endif %}>
                    Finished
                </option>
            </select>
            </div>
            <div class="form-group">
            <label for="birthday">executionDate</label>
            <input type="date"  class="form-control" id="executionDate" name="executionDate" value="{{ today }}" min="2022-01-01">
            </div>
            <br>

            <button class="btn btn-success type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}