{% extends 'base.html' %}
{% block title %}
table
{% endblock %}

{% block content %}

<div class="container p-3 my-3 bg-dark text-white">
    <h2 align="center">setStatus</h2>
    <div class="center">
        <div class="row">
            <div class="col-md-6">
                <form action = "{{ url_for('setStatus') }}" method="post">
                    <label for="idProd">Product name:</label>
                    <select name="idProd" class="form-control" id="idProd" placeholder="idProd" value="{{ request.form['idProd'] }}">
                        {% for productActiv in activProductList %}
                        <option value="{{ productActiv.id }}">{{ productActiv.belegNumber}}->{{ productActiv.modelName
                            }}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="idEvent">Status name:</label>
                    <select name="idEvent" class="form-control" id="idEvent" class="list-group" size="10">
                        {% for event in eventList %}
                        <option class="list-group-item" value="{{ event.idEvent }}"> {{ event.eventName }}</option>
                        {%endfor %}

                    </select>
                    <br>
                    <button class="btn btn-success type= submit">Set status</button>
                </form>
            </div>

            <div class="col-md-6">
                <form action = "{{ url_for('closeAllStatuses') }}" method="get">
                <button class="btn btn-success type= submit">closeAllStatuses</button>
                </form>
            </div>

        </div>


    </div>
</div>
{% endblock %}