{% extends 'base.html' %}

{% block title %}
table
{% endblock %}

{% block content %}

<div class="container p-3 my-3 bg-dark text-white">
    <h1 class="bg-danger">
        <div id='digital-clock'>
            <span id='hour'></span><span class='red-dot'>:</span><span id='min'></span><span
                class='red-dot'>:</span><span id='second'></span>
        </div>
    </h1>


    <div class="center">
        <div class="row">
            <!-- <div class="col-md-6">
                <form action="{{ url_for('setStatus') }}" method="post">
                    <label for="idProd">Product name:</label>
                    <select name="idProd" class="form-control" id="idProd" placeholder="idProd"
                        value="{{ request.form['idProd'] }}">
                        {% for productActiv in activProductList %}
                        <option value="{{ productActiv.id }}">{{ productActiv.belegNumber}}->{{ productActiv.modelName
                            }}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="idEvent">Status name:</label>
                    <select name="idEvent" class="form-control" id="idEvent" class="list-group" size="10">
                        {% for event in eventList %}
                        <option class="list-group-item" value="{{ event.idEvent }}"> {{ event.eventName }}</option>
                        {%endfor %}

                    </select>
                    <br>
                    <button class="btn btn-success type= submit">Set status</button>
                </form>
            </div> -->

            {% for event in eventList %}
            <div class="col-md-6">
                <form action="{{ url_for('setStatus') }}" method="post">
                    <input type="hidden" class="form-control" name="idEvent" value="{{ event.idEvent }}"></input>
                    <input type="hidden" class="form-control" name="idProd" value="{{ activProductList.0.id }}"></input>
                    {% if openStatuses[0] is not defined%}
                    <button class="btn btn-success type=submit">{{ event.eventName }}</button>
                    {%else%}
                    {% for openStatus in openStatuses %}
                    {%if event.idEvent == openStatus.idEvent%}
                    <button class="btn btn-danger type=submit">{{ event.eventName }}</button>
                    {%else%}
                    <button class="btn btn-success type=submit">{{ event.eventName }}</button>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
                </form>
            </div>
            {%endfor%}



            <div class="col-md-6">
                <form action="{{ url_for('closeAllStatuses') }}" method="get">
                    <button class="btn btn-success type= submit">closeAllStatuses</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}