<style>
    .modal-content {
        background-color: #212121
    }
</style>

<!-- Close Event -->
<div class="modal fade" id="Modal-Close-{{openProduct.id}}-{{status.id}}-{{current_user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- {{ openProduct.id}} - {{ status.statusName }} - {{ openProduct.modelName}} -->
                    {{ _('Stop event:')}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form method="post">
                    <div class="text-center">
                        <h4>
                            {{ _('Do you want to close event:')}} {{ openEvent.id }} <strong>{{ status.statusName }}</strong> {{ _('for detail')}}  <strong>{{ openProduct.modelName}}</strong>?
                        </h4>
                        <br>
                        {{ eventCloseForm.hidden_tag() }}
                        <input type="hidden" class="form-control" name="idStatus" value="{{ status.id  }}">
                        <input type="hidden" class="form-control" name="idProd" value="{{ openProduct.id }}">
                        <input type="hidden" class="form-control" name="idUser" value="{{ current_user.id }}">
                        <input type="hidden" class="form-control" name="idEvent" value="{{ openEvent.id }}">
                        <input type="hidden" class="form-control" name="production" value="{{ status.production }}">
                        {% if status.production == "Prod" or status.production == "Finish"%}
                        {{ eventCloseForm.okCounter.label() }}
                        {{ eventCloseForm.okCounter(class="form-control" , value = 0) }}
            
                        {{ eventCloseForm.nokCounter.label() }}
                        {{ eventCloseForm.nokCounter(class="form-control" , value = 0) }}
                        <br>
                        {% else %}
                        <input type="hidden" class="form-control" name="okCounter" value=0>
                        <input type="hidden" class="form-control" name="nokCounter" value=0>
                        {% endif %}

                        {% if status.production == "Finish"%}
                        <h3 class="text-center">
                            By clicking Close Event, you will close product.
                        </h3>
                        {% endif %}

                        {{ eventCloseForm.submit(class = "btn btn-outline-danger btn-block autofocus")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> {{ _('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>