<style>
    .modal-content {
        background-color: #212121
    }
</style>

<div class="modal fade" id="Modal-sendEmail-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ _('Contact form')}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form method="post">
                    <div class="text-center">
                        <h4>
                            {{ _('Do you want to send email to admin?')}}
                        </h4>
                        <br>
                        {{ form.id.label() }}
                        {{ form.id(class="form-control" , value=product.id) }}

                        {{ form.contactReason.label() }}
                        {{ form.contactReason(class="form-control" , placeholder = 'message') }}

                        {{ form.message.label() }}
                        {{ form.message(class="form-control" , placeholder = 'message') }}

                    </br>
                        {{ form.hidden_tag() }}
                        {{ form.submit(class = "btn btn-outline-info btn-block")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close')}}</button>
            </div>
        </div>
    </div>
</div>