<style>
    .modal-content {
        background-color: #212121
    }
</style>

<div class="modal fade" id="Modal-changePassword-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{user.username}}
                    <!-- -->
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form method="post">
                    <div class="text-center">
                        <h4>
                            Do you want to change password to <strong>{{ user.username}}</strong>?
                        </h4>
                        <br>
                        {{ formPass.userID.label() }}
                        {{ formPass.userID(class="form-control" , value=user.id) }}

                        {{ formPass.password1.label() }}
                        {{ formPass.password1(class="form-control" , placeholder = 'Password') }}

                        {{ formPass.password2.label() }}
                        {{ formPass.password2(class="form-control" , placeholder = 'Confirm Password:') }}

                        {{ formPass.hidden_tag() }}
                        {{ formPass.submit(class = "btn btn-outline-info btn-block")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal-changeActiveStatus-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{user.username}}
                    <!-- -->
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form method="post">
                    <div class="text-center">
                        <h4>
                            Do you want to change account status to <strong>{{ user.username}}</strong>?
                        </h4>
                        <br>
                        {{ changeActiveStatus.userID.label() }}
                        {{ changeActiveStatus.userID(class="form-control" , value=user.id) }}

                        {{ changeActiveStatus.active.label() }}
                        {{ changeActiveStatus.active(class="form-control") }}
                        <br>
                        {{ changeActiveStatus.hidden_tag() }}
                        {{ changeActiveStatus.submit(class = "btn btn-outline-info btn-block")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>